@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

/* BODY */
body {
    background-color: #292C34; 
}

/* HEADER */
header {
    background: white;
    padding: 20px;  
}

header > h1 { 
    color: #292C34; 
    text-align: center; 
    font-family: Asap, sans-serif; 
}

/* SCORE BOARD */
.score-board {
    margin: 20px auto; 
    border: 3px solid lightpink; 
    border-radius: 4px; 
    text-align: center; 
    width: 200px;
    color: lightpink; 
    font-size: 46px;  
    padding: 15px 20px; 
    font-family: Asap, sans-serif; 
    position: relative; 
}

/* Badges */
.badge {
    background:blue;
    color: white;  
    font-size: 14px; 
    padding: 2px 10px; 
    font-family: Asap, sans-serif; 
}

#user-label {
    position: absolute; 
    top: 30px; 
    left: -25px; 
}

#comp-label {
    position: absolute; 
    top: 30px; 
    right: -30px; 
}

/* RESULT */
.result {
    font-size: 40px; 
    color: lightpink; 

}

.result > p {
    text-align: center;
    font-weight: bold; 
    font-family: Asap, sans-serif; 

}

/* CHOICES */
.choices {
    margin: 50px 0; 
    text-align: center; 
}
.choice {
    border: 4px solid lightpink; 
    border-radius: 100%; 
    margin: 10px 30px;
    width: 150px; 
    /* padding: 10px;     */
    display: inline-block; 
    transition: all 0.8s ease; 
}

img {
    width: 100%; 
    height: auto; 
}

.choice:hover {
    transform: scale(1.5);
    cursor: pointer;  
}

/* ACTION MESSAGE - USER PROMPT */
#action-message {
    text-align: center; 
    color: lightpink; 
    font-family: Asap, sans-serif; 
    font-weight: bold; 
    font-size: 35px; 
    margin-top: 20px; 
}

/* FOOTER */
footer {
    background: white; 
    /* padding: 20px;   */
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    height: 75px; 
}

footer > p {
    text-align: center; 
    font-weight: bold; 
    font-family: Asap, sans-serif;
    margin: 20px;  
}

.green-glow {
    border: 4px solid #4dcc7d; 
    box-shadow: 0 0 10px #31b43a; 
}

.red-glow {
    border: 4px solid #fc121b; 
    box-shadow: 0 0 10px #d01115; 
}

.gray-glow {
    border: 4px solid #464647; 
    box-shadow: 0 0 10px #25292b; 
}